---
apiVersion: "helm.toolkit.fluxcd.io/v2"
kind: "HelmRelease"
metadata:
  name: "rook-cluster"
  namespace: "flux-system"
spec:
  chart:
    spec:
      chart: "rook-ceph-cluster"
      sourceRef:
        kind: "HelmRepository"
        name: "rook"
        namespace: "flux-system"
      version: "^1.19.1"
  # redundant, because everything in configs/ is rolled out after contents of controllers/
  dependsOn:
    - name: "cilium"
      namespace: "flux-system"
    - name: "rook"
      namespace: "flux-system"
  interval: "10m"
  releaseName: "rook-ceph-cluster"
  targetNamespace: "rook-ceph"
  values:
    cephClusterSpec:
      resources:
        osd:
          requests:
            cpu: "500m"
            memory: "2Gi"
      storage:
        deviceFilter: "nvme0n1"
    cephFileSystems: []
    cephObjectStores:
      - name: "ceph-objectstore"
        spec:
          metadataPool:
            failureDomain: "host"
            replicated:
              size: 3
          dataPool:
            failureDomain: "host"
            erasureCoded:
              dataChunks: 2
              codingChunks: 1
            parameters:
              bulk: "true"
          preservePoolsOnDelete: true
          gateway:
            port: 80
            resources:
              limits:
                memory: "2Gi"
              requests:
                cpu: "500m"
                memory: "500Mi"
            instances: 1
            priorityClassName: "system-cluster-critical"
        storageClass:
          enabled: true
          name: "ceph-bucket"
          reclaimPolicy: "Delete"
          volumeBindingMode: "Immediate"
          annotations: {}
          labels: {}
          parameters:
            region: "eu-west-erl"
    clusterName: "rook"
    csiDriverNamePrefix: "rook"
    toolbox:
      enabled: true
